*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    background-color:  hsl(212, 45%, 89%);
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 100%);
    min-height: 250px;
    max-width: 250px;
    padding: 20px;
    border-radius: 12px;
    
}

img{
    max-width: 100%;
    height: auto;
    
    align-content: center;
}
.bold{
    font-weight: 700;
}
p{
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    margin-top: 10px;
    line-height: 1.5;
}
